body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blanchedalmond;
    margin: 0;
    font-family: Arial, sans-serif;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    padding: 20px;
    border: 2px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

canvas {
    background-color: #000;
}

#score, #high-score {
    margin-top: 10px;
    font-size: 18px;
    color: #333333;
}

button, select {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4c00ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover, select:hover {
    background-color: #0056b3;
}

#snake-skin-container {
    margin-top: 10px;
}

#snake-skin {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f0f0f0; 
    color: #333333; 
}
#snake-skin::-ms-expand {
    display: none;
}

#snake-skin-container label {
    font-size: 16px;
    margin-right: 10px;
}
